.wrapper {
    max-width: 925px;
}
.badge {
    z-index: 21;
    position: absolute;
    margin: 30px 0 0 0;
    .badge-circle {
        margin-left: -0.4em;
        display: table;
        z-index: 20;
        pointer-events: none;
        height: 44.8px;
        width: 44.8px;
        backface-visibility: hidden;
        .badge-inner {
            background-color: #23282d;
            border-radius: 999px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            height: 100%;
            line-height: 0.85;
            color: #fff;
            font-weight: bolder;
            padding: 2px;
            white-space: nowrap;
            transition: background-color 0.3s, color 0.3s, border 0.3s;
            .onsale {
                font-size: 16px;
            }
        }
    }
}
.product-small {
    display: flex;
    flex-flow: wrap;

    .inner {
        padding: 0 9.8px 19.6px;
        margin-bottom: 0;
        background-color: #fff;
        cursor: default;
        background-size: cover;
        background-repeat: no-repeat;

        .product-smalls {
            box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
            transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s;
            background-position: 50% 50%;
            &:hover {
                box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
            }

            .box-image {
                img {
                    width: 279px;
                    height: 284px;
                }
            }
            .box-text-product {
                padding: 10px 10px 20px;
                position: relative;
                width: 100%;
                font-size: 14.4px;
                text-align: center;
                transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
                a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    height: 1.3em;
                    margin-bottom: 0.8em;
                    font-weight: 700;
                    color: #334862;
                    text-decoration: none;
                }
            }
        }
    }
}
.price {
    del {
        opacity: 0.6;
        font-weight: normal;
        margin-right: 0.5em;
        color: #696b6b;
    }
    ins {
        color: #696b6b;
        font-weight: bold;
        text-decoration: none;
    }
}
