.wrapper {
    max-height: min((100vh - 96px) - 60px, 734px);
    text-align: left;
    // color: #111;
    color: red;
    // background-color: rgba(255, 255, 255, 0.95);
    background-color: white;

    position: absolute;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 9995;
    // width: 100%;
    width: 273px;
    height: 500px;
}
