.wrapper {
    // position: fixed;
    width: 100%;
    height: 110px;
    background-color: #2d2a27;
    font-size: 14px;
    // z-index: 99999;
}
.inner {
    height: 100%;
    display: flex;
    // justify-content: space-between
    width: 1230px;
    margin: 0 auto;
    padding: 0 9px;
}
.wrapper_logo {
    align-self: center;
    img {
        width: 200px;
        height: 50px;
    }
}

.wrapper_menu {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    li {
        margin: 0 12px;
    }
    li:last-child {
        margin: 0 0 0 30px;
    }
}
.wrapper_menu_user {
    justify-content: flex-end;
    li:last-child {
        margin: 0 4px 0 10px;
    }
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.item_menu {
    font-weight: 600;
}
.link_item_menu {
    text-decoration: none;
    color: #fff;
    .cart-icon {
        margin-left: 8px;
        &:hover {
            color: aqua;
        }
    }
}
.login-register {
    text-align: right;
    .icon-user {
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        margin-right: 10px;
        align-items: center;
    }
    .divider {
        color: #fff;
        margin: 0 5px;
    }
    .icon-logout {
        font-size: 20px;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
    }
}
.active {
    position: relative;
    color: aqua;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.sticky_header {
    width: 100%;
    height: 110px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 3px 3px 8px -3px #ddd;
    // transition: 0.3s ease-in-out;
}
