.wrapper {
    background-color: rgb(239, 240, 255);
    min-height: 100vh;
    font-family: "Sora", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2.7rem;
}
.form {
    background-color: white;
    padding: 2rem;
    min-width: 500px;
    border-radius: 14px;
    box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);

    .title {
        text-align: center;
        color: rgb(119, 119, 252);
        .success-MSG {
            color: #4bb543;
        }

        .errorSuccess-MSG {
            color: #ff3333;
        }
    }
}
.info-form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    label {
        margin-top: 1rem;
        font-size: 16px;
    }
    input {
        border: none;
        border-bottom: 1px solid black;
        padding-bottom: 0.25rem;
        outline: none;
        font-size: 14px;
    }
    button {
        cursor: pointer;

        padding: 0.7rem 2rem;
        background-color: rgb(104, 187, 255);
        color: white;
        border: none;
        font-size: 1.5rem;
        border-radius: 8px;
        margin: 30px 0 15px 0;
    }
    .errorMsg {
        max-width: 100%;
        font-size: 12px;
        color: rgb(248, 106, 106);
    }
    .fogot {
        text-align: center;
        margin-top: 20px;
        a {
            font-size: 14px;
            text-decoration: none;
        }
    }
}
.footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    a {
        text-decoration: none;
        margin-left: 5px;
    }
}
