.wrapper {
    font-size: 16px;
    padding-top: 110px;
    color: #777777;
    width: 100%;
    .inner {
        max-width: 1230px;
        margin: 0 auto;
        text-align: center;
        section {
            width: 100%;

            padding: 30px 0;
        }
    }
}
