.wrapper {
    font-size: 16px;
    color: #777;
    font-size: 16px;
}
.form-add {
    border: 2px solid #333;
    display: flex;
    th {
        text-align: left;
        padding: 18px;
        border-bottom: 1px solid #ddd;
    }
    td {
        padding: 18px;
        border-bottom: 1px solid #ddd;
        input[type="text"] {
            border: 1px solid #ddd;
            padding: 0 0.75em;
            height: 2.507em;
            width: 350px;
            font-size: 0.97em;
            border-radius: 0;
            vertical-align: middle;
            background-color: #fff;
            color: #333;
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
            transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;

            &:hover {
                box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
            }
            &:focus {
                box-shadow: 0 0 5px #ccc;
                opacity: 1 !important;
                outline: 0;
                color: #333;
                background-color: #fff;
            }
        }
        textarea {
            width: 100%;
            min-height: 120px;
            margin-bottom: 8px;
            border: 1px solid #ddd;
            padding: 0.7em 0.75em;
            height: 2.507em;
            font-size: 0.97em;
            transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
            color: #333;
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
            &:hover {
                box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
            }
            &:focus {
                box-shadow: 0 0 5px #ccc;
                opacity: 1 !important;
                outline: 0;
                color: #333;
                background-color: #fff;
            }
        }
    }
    button[type="submit"],
    input[type="button"] {
        background-color: #23282d;
        margin: 15.52px 0;
        color: #fff;
        border-color: rgba(0, 0, 0, 0.05);
        text-transform: uppercase;
        font-size: 0.97em;
        letter-spacing: 0.03em;
        cursor: pointer;
        font-weight: bolder;
        text-align: center;
        border: 1px solid transparent;
        margin-right: 1em;
        text-shadow: none;
        line-height: 2.4em;
        min-height: 2.5em;
        padding: 0 1.8em;
        transition: all 0.5s;
        &:hover {
            background-color: aqua;
        }
    }
    .btn-add {
        text-align: center;
        margin-top: 72px;
    }
    .success-MSG {
        text-align: center;
        font-size: 20px;
        color: #4bb543;
        font-weight: bold;
    }
    .errorSuccess-MSG {
        text-align: center;
        font-size: 20px;
        color: #ff3333;
        font-weight: bold;
    }
}
.imgProduct-edit {
    width: 70px;
}
