.wrapper {
    width: 444px;
    // border-left: 2px solid black;
}
.cart-title {
    border-bottom: 5px;
    table {
        width: 100%;
        margin-bottom: 1em;
        border-color: #ececec;
        border-spacing: 0;

        th {
            line-height: 1.05;
            letter-spacing: 0.05em;

            padding: 0.5em 0;
            text-align: left;
            border-bottom: 3px solid #ececec;
            line-height: 1.3;
            font-size: 14.4px;
            color: #777777;
            font-weight: bold;
        }

        th:last-child {
            font-size: 14.4px;
            color: #777777;
            text-align: left;
            text-transform: uppercase;
        }

        td {
            text-align: right;
            font-size: 14.4px;
            color: #696b6b;
            border-bottom: 3px solid #ececec;
            font-weight: bold;
        }
    }
    .checkout {
        margin: 2rem 0;
        background-color: #23282d;
        text-transform: uppercase;
        font-size: 0.97em;
        letter-spacing: 0.03em;
        line-height: 2.4em;
        min-height: 2.5em;
        padding: 0 1.2em;
        text-align: center;
        cursor: pointer;
        font-size: 15.52px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;
            border-color: rgba(0, 0, 0, 0.05);
            vertical-align: middle;
        }
    }
}
.discount {
    .widget-title {
        border-bottom: 3px solid #ececec;
        font-size: 0.95em;
        padding-bottom: 10px;
        margin-bottom: 15px;
        color: #555;
        font-size: 15.5px;
        .icon-discount {
            margin-right: 9px;
        }
    }
    input[type='text'] {
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 0 0.75em;
        margin-bottom: 15px;
        height: 2.507em;
        font-size: 14.4px;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
        background-color: #fff;
        color: #333;

        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        &:hover {
            box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
        }
        &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
        }
    }
    button[type='submit'] {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        text-shadow: 1px 1px 1px #fff;
        color: #666;
        border: 1px solid #ddd;
        text-transform: none;
        font-weight: normal;
        font-size: 14.4px;
        letter-spacing: 0.03em;
        vertical-align: middle;
        line-height: 2.4em;
        min-height: 2.5em;
        padding: 0 1.2em;
        width: 100%;
        cursor: pointer;
        transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
        &:hover {
            background-color: aqua;
            outline: none;
            opacity: 1;
            color: #fff;
            box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
        }
    }
}
