ul {
    list-style: none;
    li {
        list-style: none;
        min-height: 80px;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        line-height: 1.33;
        margin: 0;
        position: relative;
        padding: 15px 2px 15px 90px;
        text-align: left;
        a {
            flex: 1;
            color: #334862;
            text-decoration: none;
            background-color: transparent;
            height: 1.3em;
            margin-bottom: 5px;
            padding: 0;
            line-height: 1.3;
            img {
                top: 10px;
                position: absolute;
                left: 20px;
                width: 60px;
                height: 60px;
                margin-bottom: 5px;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .product-title {
                font-size: 14px;
                font-weight: bold;
            }
        }
        .price-discount {
            padding-top: 7px;
            margin-right: 5px;
            color: #696b6b;
        }
        .price-amount {
            display: inherit;
            color: #696b6b;
            font-weight: bold;
            margin-top: 5px;
        }
    }
    li:nth-child(odd) {
        background-color: #fafafa;
    }
}

.product-item {
    padding: 15px 10px 15px 90px;
}

.price-box {
    display: flex;
}
.product-list {
    max-height: 400px;
    overflow: hidden;
}
