.wrapper {
    width: 1230px;
    margin: 30px auto;
}
.inner-profile {
    padding: 0 15px;
    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    th {
        text-align: left;
        font-weight: 500;
        padding: 15px 0;
        max-width: 250px;
        width: 250px;
    }
    .button {
        color: #2d2a27;
        text-decoration: none;
        border: 2px solid currentColor;
        background-color: transparent;
        line-height: 2.19em;
        margin-bottom: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.03em;
        cursor: pointer;
        text-align: center;
        margin-right: 1em;

        padding: 0 1.2em;
        transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
        &:hover {
            background-color: #2d2a27;
            color: #fff;
        }
    }
}
