.wrapper {
    padding: 30px 0;
    padding-top: 140px;

    color: #777;
    font-size: 16px;
    .inner {
        max-width: 1260px;
        margin: 0 auto;
        h2 {
            text-align: center;
            padding: 0 15px 30px;
            font-size: 18.4px;
            color: #555555;
            line-height: 1.2;
        }
    }
}
.category-news {
    display: flex;
    .sidebar-news {
        padding: 0 30px 30px;
        .search {
            margin-bottom: 30px;
            input[type='search'] {
                border: 1px solid #ddd;
                padding: 0 0.75em;
                height: 40px;
                width: 210px;
                font-size: 0.97em;
                vertical-align: middle;
                background-color: #fff;
                color: #333;
                box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
                transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
                &:hover {
                    box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
                }
                &:focus {
                    box-shadow: 0 0 5px #ccc;
                    opacity: 1 !important;
                    outline: 0;
                    color: #333;
                    background-color: #fff;
                }
            }
            button[type='submit'] {
                background-color: #23282d;
                border-color: rgba(0, 0, 0, 0.05);
                position: relative;
                cursor: pointer;
                text-align: center;
                border: 1px solid transparent;
                line-height: 2.4em;
                min-height: 40px;
                width: 45px;

                max-width: 100%;
                text-align: center;
                .icon-search {
                    color: white;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
    .content {
        padding: 0 30px 30px;
    }
}
.news-list {
    width: 255px;
    .widget-title {
        padding: 20px;
        color: #fff;
        background-color: #23282d;
        display: block;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
