.wrapper {
    max-width: 1230px;
    padding: 30px 0;
    margin: 0 auto;
    color: #777;
    font-size: 16px;
    h3 {
        font-size: 17.6px;
        margin-bottom: 9px;
        color: #555;
        overflow: hidden;
        padding-top: 10px;
        font-weight: bolder;
        text-transform: uppercase;
    }
}
.inner {
    display: flex;
    margin-bottom: 1.3em;
    .col {
        padding: 0 15px 30px;
    }
}
.left {
    width: 717px;
}
.clear {
    line-height: 1.6;
}
.woocommerce {
    padding-top: 15px;
    border-top: 2px solid #ddd;
}

.woocommerce-filling {
    .form-row-first {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .form-row-last {
        width: 48%;
        float: left;
    }
    .form-row {
        margin-bottom: 8px;
    }
    label {
        display: block;
        margin-bottom: 6px;
    }
    input {
        width: 100%;
        margin-bottom: 15.5px;
        padding: 0 12px;
    }
    input[type="text"] {
        border: 1px solid #ddd;
        padding: 0 0.75em;
        height: 2.507em;
        font-size: 0.97em;
        border-radius: 0;
        vertical-align: middle;
        background-color: #fff;
        color: #333;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        &:hover {
            box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
        }
        &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
        }
    }
    select {
        width: 100%;
        box-shadow: inset 0 -1.4em 1em 0 rgb(0 0 0 / 2%);
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 0 0.75em;
        height: 2.507em;
        font-size: 0.97em;
        margin-bottom: 20px;
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
        }
    }
    textarea {
        width: 100%;
        min-height: 120px;
        margin-bottom: 8px;
        border: 1px solid #ddd;
        padding: 0.7em 0.75em;
        height: 2.507em;
        font-size: 0.97em;
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        color: #333;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        &:hover {
            box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
        }
        &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
        }
    }
}
.errorMsg {
    max-width: 100%;
    font-size: 14px;
    color: rgb(248, 106, 106);
}
