ul {
    .post {
        img {
            top: 10px;
            position: absolute;
            left: 20px;
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 999px;
        }
        a {
            color: #444444;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 2.4em;
            line-height: 1.2;
            width: 100%;
            margin-bottom: 6px;
            display: block;
            flex: 1;
            word-wrap: break-word;
        }
    }
}
.word-wrap {
    word-wrap: break-word;
}
.news-wrapper {
    max-height: 480px;
    overflow: hidden;
}
.news-item {
    .post {
        max-width: 264px;
        img {
            top: 10px;
            position: absolute;
            left: 20px;
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 999px;
        }
        a {
            color: #444444;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 2.4em;
            line-height: 1.2;
            width: 100%;
            margin-bottom: 6px;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
}
