.wrapper {
    // display: grid;
    padding-top: 110px;
}
.wrapper_title_img {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title_text {
    position: absolute;
    color: white;
    font-size: 25px;
}
.wrapper_info {
    height: 390px;
    display: flex;
    align-items: center;
    background-color: #f7f4f0;
}
.wrapper_info_txt {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.info_text {
    margin-bottom: 25px;
    font-family: "Karla", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    color: #c0b7af;
}
.info_text_1 {
    color: #555;
    font-size: 32px;
    width: 100%;
    text-align: center;
    line-height: 44px;
    font-family: "Marcellus", "Century Schoolbook L", serif;
}
.info_text_2 {
    margin-top: 30px;
    text-align: center;
    color: #777;
    line-height: 1.6;
}
.wrapper_list_service {
    width: 100%;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    background-color: #f7f4f0;
}
.col_inner_text_center {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.col_inner_div {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.col_inner_text_center {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.is_divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
.cmsmasters_heading {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    text-decoration: none;
    color: #555;
    font-family: "Marcellus", "Century Schoolbook L", serif;
}
.cmsmasters_text {
    color: #777;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 20px;
}
.txt_price {
    padding-top: 10px;
}
.xx {
    width: 100%;
    display: flex;
    justify-content: center;
}
.is_divider2 {
    width: 115px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
.banner_toShop {
    width: 100%;
    height: 500px;
}
.img_bannerShop {
    width: 100%;
    height: 100%;
}
.imgbanerShop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap_txt_bannerShop {
    height: 500px;
    width: 400px;
    display: flex;
    text-align: center;
    position: absolute;
    align-items: center;
    right: 50px;
}
.wrap_innerbannerShop {
    padding: 10px;
    // max-width: 25%;
}
.txt_bn3 {
    color: #6a6560;
    font-family: "Marcellus", "Century Schoolbook L", serif;
}
.txt_bn4 {
    padding-bottom: 20px;
    padding-top: 20px;

    font-size: 28px;
    line-height: 44px;
    font-weight: 400;
    color: #000;
}
.btn_BannerShop {
    width: 100%;
    height: 50px;
    background-color: #2d2a27;
    color: #fff;
    padding: 12px;
    font-weight: 600;
}
.wrap_txt_bannerShop {
}
.col_inner_textcenter {
    width: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.cmsmasters_pricing_item_inner {
    padding: 15px;
}
.pricing_title {
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
}
.cmsmasters_price_wrap {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
.cmsmasters_currency {
    font-size: 20px;
    line-height: 46px;

    text-decoration: none;
    color: #000;
}
.cmsmasters_price {
    font-size: 20px;
    line-height: 46px;

    text-decoration: none;
    color: #000;
}
.cmsmasters_period {
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}
.btn_buyService {
    background-color: #000;
    width: 90%;
}
.txt3_buyService {
    padding: 5px;
    color: #fff;
}
